body {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h3 {
  margin-top: 2rem;
}

.row {
  margin-bottom: 1rem;
}
.row .row {
  margin-top: 1rem;
  margin-bottom: 0;
}
.category {
  padding: 5px 10px;
  background-color: rgba(166, 154, 184, 0.15);
  border-radius: 5px;
  margin: 5px 5px;
  border: 1px solid rgba(86, 61, 124, 0.2);
}
.addcat {
}
.category-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
}
hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
